In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
Census_Income_Dataset = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/dataset1/master/census_income.csv")

In [ ]:
Census_Income_Dataset

In [6]:
Census_Income_Dataset.dtypes

Age                int64
Workclass         object
Fnlwgt             int64
Education         object
Education_num      int64
Marital_status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital_gain       int64
Capital_loss       int64
Hours_per_week     int64
Native_country    object
Income            object
dtype: object

In [9]:
Census_Income_Dataset.isnull().sum()

Age               0
Workclass         0
Fnlwgt            0
Education         0
Education_num     0
Marital_status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_gain      0
Capital_loss      0
Hours_per_week    0
Native_country    0
Income            0
dtype: int64

In [10]:
Census_Income_Dataset.shape

(32560, 15)

In [16]:
# Remove the ? sign and assign those as nan values
Census_Income_Dataset['Native_country'] = Census_Income_Dataset['Native_country'].replace(' ?' , np.nan )
Census_Income_Dataset['Age'] = Census_Income_Dataset['Age'].replace(' ?' , np.nan )
Census_Income_Dataset['Workclass'] = Census_Income_Dataset['Workclass'].replace(' ?' , np.nan )
Census_Income_Dataset['Fnlwgt'] = Census_Income_Dataset['Fnlwgt'].replace(' ?' , np.nan )

#Data['education'] = Data['education'].replace(' ?' , np.nan )
Census_Income_Dataset['Education_num'] = Census_Income_Dataset['Education_num'].replace(' ?' , np.nan )
Census_Income_Dataset['Marital_status'] = Census_Income_Dataset['Marital_status'].replace(' ?' , np.nan )
Census_Income_Dataset['Occupation'] = Census_Income_Dataset['Occupation'].replace(' ?' , np.nan )
Census_Income_Dataset['Relationship'] = Census_Income_Dataset['Relationship'].replace(' ?' , np.nan )
Census_Income_Dataset['Race'] = Census_Income_Dataset['Race'].replace(' ?' , np.nan )
Census_Income_Dataset['Sex'] = Census_Income_Dataset['Sex'].replace(' ?' , np.nan )
Census_Income_Dataset['Capital_gain'] = Census_Income_Dataset['Capital_gain'].replace(' ?' , np.nan )
Census_Income_Dataset['Capital_loss'] = Census_Income_Dataset['Capital_loss'].replace(' ?' , np.nan )
Census_Income_Dataset['Hours_per_week'] = Census_Income_Dataset['Hours_per_week'].replace(' ?' , np.nan )

In [18]:
Census_Income_Dataset.isna().sum()

Age                  0
Workclass         1836
Fnlwgt               0
Education            0
Education_num        0
Marital_status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital_gain         0
Capital_loss         0
Hours_per_week       0
Native_country     583
Income               0
dtype: int64

In [20]:
New_Census_Dataset = Census_Income_Dataset.dropna()

In [22]:
#Sample data size is changed .
New_Census_Dataset.shape

(30161, 15)

In [24]:
New_Census_Dataset.describe()

,Age,Fnlwgt,Education_num,Capital_gain,Capital_loss,Hours_per_week
count,30161.000000,3.016100e+04,30161.000000,30161.000000,30161.000000,30161.000000
mean,38.437883,1.897976e+05,10.121216,1091.971984,88.375419,40.931269
std,13.134882,1.056527e+05,2.549983,7406.466659,404.304753,11.980182
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.176280e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784290e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.376300e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
Census_Income_Dataset['Workclass'] = Census_Income_Dataset['Workclass'].fillna(Census_Income_Dataset['Workclass'].mode()[0])
Census_Income_Dataset['Occupation'] = Census_Income_Dataset['Occupation'].fillna(Census_Income_Dataset['Occupation'].mode()[0])
Census_Income_Dataset['Native_country'] = Census_Income_Dataset['Native_country'].fillna(Census_Income_Dataset['Native_country'].mode()[0])

In [ ]:
Census_Income_Dataset.describe()

In [31]:
Census_Income_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32560 non-null  int64
 1   Workclass       32560 non-null  object
 2   Fnlwgt          32560 non-null  int64
 3   Education       32560 non-null  object
 4   Education_num   32560 non-null  int64
 5   Marital_status  32560 non-null  object
 6   Occupation      32560 non-null  object
 7   Relationship    32560 non-null  object
 8   Race            32560 non-null  object
 9   Sex             32560 non-null  object
 10  Capital_gain    32560 non-null  int64
 11  Capital_loss    32560 non-null  int64
 12  Hours_per_week  32560 non-null  int64
 13  Native_country  32560 non-null  object
 14  Income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [33]:
Census_Income_Dataset['Income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [34]:
Census_Income_Dataset['Income'].value_counts()

 <=50K    24719
 >50K      7841
Name: Income, dtype: int64

In [35]:
Census_Income_Dataset.duplicated().sum()

24

In [36]:
Census_Income_Dataset = Census_Income_Dataset.drop_duplicates(keep= 'first')
Census_Income_Dataset.shape

(32536, 15)

In [41]:
#seperating categorical features
categorical_features = list(Census_Income_Dataset.select_dtypes(include=['object']).columns)
print(categorical_features)

['Workclass', 'Education', 'Marital_status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Native_country', 'Income']

In [42]:
#seperating numerical features
numerical_features = list(Census_Income_Dataset.select_dtypes(include=['int64', 'float64']).columns)
print(numerical_features)

['Age', 'Fnlwgt', 'Education_num', 'Capital_gain', 'Capital_loss', 'Hours_per_week']

In [ ]:
Census_Income_Dataset['Income'].value_counts().plot(kind='bar')

In [ ]:
import seaborn as sns
plt.figure(figsize=(15,10))
sns.barplot(x='Occupation',y='Capital_gain',data=Census_Income_Dataset,hue='Sex')
plt.xticks(rotation=70)
##Checking the distribution of Capital_gain and  Occupation as per gender##

In [ ]:
plt.figure(figsize=(20,18))
sns.barplot(x='Education',y='Hours_per_week',data=Census_Income_Dataset,hue='Income')
##Checking the distribution of Education and  Hours_per_week as gender###

In [ ]:
Census_Income_Dataset=Census_Income_Dataset.apply(pd.to_numeric)

In [61]:
X = Census_Income_Dataset.drop('Income',axis=1)

In [62]:
X

,Age,Workclass,Fnlwgt,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country
0,50,5,83311,9,13,2,3,0,4,1,0,0,13,38
1,38,3,215646,11,9,0,5,1,4,1,0,0,40,38
2,53,3,234721,1,7,2,5,0,2,1,0,0,40,38
3,28,3,338409,9,13,2,9,5,2,0,0,0,40,4
4,37,3,284582,12,14,2,3,5,4,0,0,0,40,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,3,257302,7,12,2,12,5,4,0,0,0,38,38
32556,40,3,154374,11,9,2,6,0,4,1,0,0,40,38
32557,58,3,151910,11,9,6,0,4,4,0,0,0,40,38
32558,22,3,201490,11,9,4,0,3,4,1,0,0,20,38
32559,52,4,287927,11,9,2,3,5,4,0,15024,0,40,38

In [108]:
y = (Census_Income_Dataset['Income'])

In [109]:
y

0        0
1        0
2        0
3        0
4        0
        ..
32555    0
32556    1
32557    0
32558    0
32559    1
Name: Income, Length: 32536, dtype: int64

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((26028, 14), (6508, 14), (26028,), (6508,))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dtc_model = DecisionTreeClassifier(random_state = 2022)
dtc_model.fit(X_train, y_train)
pred = dtc_model.predict(X_test)
print('accuracy score:', (accuracy_score(y_test, pred)))

In [112]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(random_state = 2022)
rf_model.fit(X_train, y_train)
pred = rf_model.predict(X_test)
print('accuracy score:', (accuracy_score(y_test, pred)))

accuracy score: 0.858020897357099

In [114]:
    lr_model = LogisticRegression()
    lr_model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [115]:
lr_trainscore = lr_model.score(X_train, y_train)
lr_testscore = lr_model.score(X_test, y_test)
lr_pred = lr_model.predict(X_test)
print("Logistic Regression Accuracy: ")
print("LR Train Accuracy: ",lr_trainscore*100)
print("LR Test Accuracy: ",lr_testscore*100)

Logistic Regression Accuracy:
LR Train Accuracy:  79.14553557707085
LR Test Accuracy:  78.45728334357713

In [ ]:
y_test = (y_test['income'] != '<=50K').astype(int)

In [116]:
KNN = KNeighborsClassifier(n_neighbors=25)
KNN.fit(X_train, y_train)

KNN_trainscore = KNN.score(X_train, y_train)
KNN_testscore = KNN.score(X_test, y_test)
print("KNN Accuracy: ")
print("KNN Train Accuracy: ",KNN_trainscore*100)
print("KNN Test Accuracy: ",KNN_testscore*100)

KNN Accuracy:
KNN Train Accuracy:  80.23282618718304
KNN Test Accuracy:  80.10141364474494